<?xml version="1.0"?>
<!--
/**
 * Powerline PrescripcionModule - Frontend Routes
 *
 * @category  Powerline
 * @package   Powerline_PrescripcionModule
 * @author    Powerline Development Team
 * @copyright Copyright (c) 2025 Powerline
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="presc" frontName="presc">
            <module name="Powerline_PrescripcionModule"/>
        </route>
    </router>
</config>
